$background: #ddd;
$background--2: #d4e74f;
$background--3: #fe8301;
$background--4: #ffc000;
$border: #e5d6c1;

$text: #000;
.acc-block {
	width: 100%;
}
.acc {
	width: 100%;
	margin: 2rem 0;
	&__container {
		overflow: hidden;
		@include flex(flex-start, flex-start, column, 0.2rem);
	}

	&__cart {
		width: 100%;
		color: $text;
		overflow: hidden;
	}

	&__cart-label {
		@include flex(space-between, null, null, null);
		padding: 1.5em;
		background: $background;
		font-weight: 500;
		cursor: pointer;
		/* Icon */
		&:hover {
			background: darken($background, 10%);
		}
		&::after {
			// content: url("/src/img/arrow-down.svg");
			width: 1em;
			height: 1em;
			text-align: center;
			transition: all 0.35s;
		}
	}

	&__cart-content {
		max-height: 0;
		// padding: 0 2em;
		color: transparent;
		background: $background;
		transition: all 0.35s;
		& > p {
			margin-bottom: 0;
			padding: 1rem;
		}

		& ul {
			margin-bottom: 1rem;
			padding-left: 1rem;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	input {
		display: none;
	}
	input:checked {
		+ .acc__cart-label {
			font-weight: bold;
			text-transform: uppercase;
			&::after {
				transform: rotate(180deg);
			}
		}
		~ .acc__cart-content {
			max-height: 200vh;
			// padding: 0 2em;
			color: $text;
		}
	}
	&__speaker {
		list-style: none;
		padding-bottom: 1rem;

		.crew-item {
			a {
				@include grid(150px 1fr, null, 2rem);
				align-items: center;
			}
		}
	}

	&__level {
		color: #bd1f2c;
		font-weight: 600;
	}
}
