.contacts {
	background-color: #fff;
	&.container {
		padding: 3rem 2rem;
	}

	&__list {
		@include grid(repeat(4, 1fr), null, 3rem);
		place-content: center;
		align-items: baseline;
		justify-content: center;
		@include breakpoint(small) {
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint(xs) {
			grid-template-columns: 1fr;
		}

		li {
			@include flex(center, center, column, null);
			img {
				margin-bottom: 1rem;
				width: 72px;
				height: 72px;
				border-radius: 50%;
				object-fit: cover;
				object-position: center;
			}
			h4 {
				margin-bottom: 1rem;
				font: normal normal 600 16px/25px Poppins;
				color: #16ade1;
			}
			a {
				margin-bottom: 0.25rem;
				font: normal normal normal 14px/25px Poppins;
				color: #6a7684;
			}
		}
	}
}
