.crew {
	padding: 3rem 0;

	&__link {
		width: max-content;
		display: flex;
		justify-content: center;
		margin: 1rem auto 0;
		padding: 1rem;
		color: #fff;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		background-color: #bd1f2c;
		&:visited,
		&:hover {
			color: #fff;
		}
	}
}
