.crew-list {
	@include grid(repeat(4, 1fr), null, null);
	grid-column-gap: 2rem;
	grid-row-gap: 6rem;
	text-align: center;
	@include breakpoint(md) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}
}

.crew-item {
	position: relative;
	@include flex(space-between, null, column, 0);
	& > a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	h3 {
		text-transform: uppercase;
		font-weight: 700;
	}

	img {
		width: 100%;
		border-radius: 50%;
		aspect-ratio: 1;
		object-fit: cover;
	}
	&__firm {
		@include flex(center, center, null, null);
		font-weight: 700;
		margin-bottom: 0;
		min-height: 50px;
		&--acc {
			display: none;
		}
	}
	&--role-models {
		.crew-item__firm {
			background-color: #50e6b9;
		}

		.post-thumbnail::after {
			background-color: rgba(80, 230, 185, 0.8);
		}
	}
	&--mentors {
		.crew-item__firm {
			background-color: rgb(212, 231, 79);
		}
		.post-thumbnail::after {
			background-color: rgba(212, 231, 79, 0.8);
		}
	}
	&--trainers {
		.crew-item__firm {
			background-color: rgb(255, 130, 1);
		}
		.post-thumbnail::after {
			background-color: rgba(255, 130, 1, 0.8);
		}
	}
	&__firm {
		font-weight: 900;
	}

	.post-thumbnail {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		cursor: pointer;
		&::after {
			position: absolute;
			@include flex(center, center, null, null);
			content: "czytaj więcej";
			top: 0;
			left: 0;
			width: 100%;
			color: #000;
			font-weight: 700;
			text-decoration: underline;
			aspect-ratio: 1;
			border-radius: 50%;
			opacity: 0;
			transition: 0.2s;
		}
	}
	&:hover .post-thumbnail::after {
		opacity: 1;
	}
}
