.crew-list {
	@include grid(repeat(4, 1fr), null, 2rem);
	text-align: center;
	@include breakpoint(sm) {
		grid-template-columns: 1fr 1fr;
	}
}

.crew-item {
	h3 {
		text-transform: uppercase;
		font-weight: 700;
	}

	img {
		width: 100%;
		border-radius: 50%;
		aspect-ratio: 1;
		object-fit: cover;
	}
	&__firm {
		font-weight: 700;
	}
}
