.form-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	& > div {
		height: 100%;

		@include flex(center, center, column, null);
	}

	form {
		width: 100%;
		max-width: 678px;
		padding: 2rem;
		background-color: #fff;
		border-left: 8px solid #16ade1;
		z-index: 2;
	}
	header {
		@include flex(space-between, flex-start, row, 1rem);
	}
	h2 {
		font: normal normal normal 32px PT Sans;
		color: #3a5b9c;
	}
	p {
		font: normal normal normal 15px/21px PT Sans;
		color: #3a5b9c;
	}
	label {
		text-align: left;
		font: normal normal normal 15px/21px PT Sans;
		color: #3a5b9c;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		height: 40px;
		max-width: 299px;

		background: #d9dde3 0% 0% no-repeat padding-box;
		border-radius: 0;
		border: none;
	}

	fieldset {
		padding: 0;
		border: none;
		@include grid(1fr 1fr, null, 1rem);
	}

	&__close {
		background-color: #fff;
		border: none;
		border-radius: 0;
		cursor: pointer;

		&--layer {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background-color: rgba(58, 91, 156, 0.82);
		}
	}

	&--visible {
		display: block;
	}
}
