.gut-content {
	background-color: #d9dde3;
	padding: 4rem;

	&__content {
		color: #3a5b9c;
		&.container {
			padding: 4rem;
		}
		background-color: #fff;
		h1,
		h2,
		h3,
		h4 {
			margin-bottom: 2rem;
		}
		.wp-block-image {
			img {
				width: 475px;
				height: 271px;
				border-left: 8px solid #16ade1;
				object-fit: cover;
			}
		}
	}
}
