.hexProgram {
    margin-top: 6rem;
    overflow-x: hidden;
    .container {
        width: fit-content;
        margin: 0 auto;
    }
    &__title {
        font-size: 2rem;
        font-weight: 800;
        color: white;
        max-width: 40%;
        margin-bottom: 7rem;
        &_subtitle {
            font-size: 4.5rem;
            line-height: 4rem;
            @include breakpoint(lg) {
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }

    &__tiles {
        display: flex;
        flex-wrap: wrap;
        
        @include breakpoint(lg) {
            flex-direction: column;
        }
        @include breakpoint(sm) {
            margin-left: -5%;
        }
        @include breakpoint(ms) {
            margin-left: -10%;
        }

        &_hex {
            background-size: contain;
            background-repeat: no-repeat;
            flex: 0 0 50%;
            aspect-ratio: 1/1;
            min-width: 440px;
            position: relative;
            padding: 9%;
            text-align: center;
            @include breakpoint(lg) {
                flex-direction: column;
                width: 440px;
                padding-top: 15%;
                .size-thumbnail {
                    width: 30%;
                }
            }
            * {
                position: relative;
                z-index: 20;
            }
            &--bg {
                position: absolute;
                left: -15%;
                top: 0;
                z-index: 10;
                max-width: 130%;
                width: 130%;
            }
            &--title {
                font-weight: 800;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
            &--content {
                text-align: left;
                margin-top: 1rem;
                font-size: 0.8rem;
            }
            &--sideimage {
                position: absolute;
                width: 60%;
            }

            &:nth-child(1) &--sideimage {
                left: -23%;
                bottom: -31%;
            }
            &:nth-child(2) &--sideimage {
                right: -20%;
                top: -10%;
            }
            &:nth-child(3) &--sideimage {
                right: -35%;
                bottom: -30%;
                @include breakpoint(lg) {
                    display: none;
                }
            }
            &:nth-child(4) &--sideimage {
                right: -20%;
                top: -10%;
            }

            &:nth-child(2) { 
                margin-top: -25%;
                left: -5%;
            }
            &:nth-child(3) { 
                // margin-top: -1%;
                right: -2%;
            }
            &:nth-child(4) { 
                margin-top: -27%;
                left: -6%;
            }
            .size-thumbnail {
                width: 30%;
            }
            
            @include breakpoint(lg) {
                &:nth-child(n) {

                    margin-top: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}