.main-hero {
	position: relative;
	height: calc(100vh - $burger-button-width);
	max-height: 700px;
	@include breakpoint(xs) {
		max-height: 500px;
	}
	&__grid {
		@include grid(50% 50%, null, null);
		@include breakpoint(m-large) {
			display: none;
		}
	}

	&__mobile {
		display: none;
		height: 100%;
		@include breakpoint(m-large) {
			display: block;
		}
		.main-hero-intro {
			h1 {
				font: normal normal normal 42px/45px PT Sans;
			}
			p {
				color: #fff;
			}
		}
	}

	&__col {
		&--left {
			background-color: $c-bg;
		}
	}
}

.main-hero-intro {
	position: absolute;
	top: 0;
	left: 2rem;
	height: auto;
	width: max-content;
	max-width: 1240px;
	height: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	z-index: 2;
	@include flex(center, flex-start, column, null);
	@include breakpoint(tablet) {
		width: auto;
	}
	h1 {
		width: min-content;
		margin-top: 0;
		font: normal normal normal 128px/142px PT Sans;
		color: #ffffff;
	}

	p {
		max-width: 489px;
		font: normal normal normal 16px/21px PT Sans;
		color: #3a5b9c;
	}
}

.page-down {
	position: absolute;
	width: $burger-button-width;
	height: $burger-button-width;
	top: 101px;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, 0);
	z-index: 23;
	cursor: pointer;
	@include flex(center, center, null, null);

	@include breakpoint(m-large) {
		top: unset;
		left: 1rem;
		bottom: 0;
		transform: translate(0, 50%);
	}

	svg {
		transform: rotate(90deg);
		transition: all 0.2s;
		@include breakpoint(m-large) {
			transform: rotate(180deg);
		}
	}

	&::after {
		position: absolute;
		display: block;
		width: max-content;
		top: 30%;
		right: 0;
		padding: 0 1rem;
		content: "Przejdź dalej";
		font: normal normal normal 12px/15px PT Sans;
		color: #ffffff;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover {
		&::after {
			transform: translatex(100%);
			opacity: 1;
		}

		& svg {
			transform: rotate(180deg);
		}
	}
}
