.organizator {
    display: flex;
    margin-top: 5rem;

    &__left {
        flex: 0 0 50%;
        box-sizing: border-box;

        .h2 {
            margin-left: 18vw;
            margin-bottom: 0;
        }
    }

    &__right {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding-right: 10%;
        img {
            max-width: 200px;
            margin-bottom: 1rem;
        }
    }

    &__image {
        max-width: 650px;
    }

    @include breakpoint(lg) {
        flex-direction: column;
        &__left {
            width: 60%;
            min-width: 340px;
            .h2 {
                margin: 0 5%;
                text-align: left;
            }
        }
        &__right {
            padding: 0 10% 10% 10%;
        }
    }
}