.partners {
	padding: 3rem 0;
	&__list {
		@include grid(repeat(4, 1fr), null, 3rem);
		align-items: center;
		justify-self: center;
		@include breakpoint(sm) {
			grid-template-columns: 1fr 1fr;
		}

		img {
			width: 100%;
			aspect-ratio: 16/9;
			object-fit: contain;
			object-position: center;
			transition: 0.2s;
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
