.program-component {
	&__what {
		@include flex(flex-start, center, row, 1rem);
		margin-bottom: 0.5rem;
		& > * {
			margin: 0;
			font-weight: 700;
		}
	}
	&__desc {
		padding: 0 1rem;
		& > p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	ul,
	ol {
		padding-left: 2rem;
		padding-bottom: 1rem;
	}
	ul {
		list-style: disc;
	}
	ol {
		list-style: lower-latin;
	}
}
