.references {
	padding: 4rem;
	background-color: #d9dde3;
	background-image: url("/src/img/tap.svg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	@include breakpoint(m-large) {
		padding: 4rem 0;
	}
	&__content {
		@include grid(3fr 9fr, null, null);
		@include breakpoint(m-large) {
			grid-template-columns: 2rem 1fr;
		}
		&.container {
			padding: 0;
		}
	}
	&__desc {
		padding: 4rem;
		background-color: #fff;
		color: #3a5b9c;
		@include breakpoint(m-large) {
			padding: 2rem 1rem;
		}
		& > h2 {
			margin: 2rem 0;
			font: normal normal normal 32px/21px PT Sans;
			@include breakpoint(m-large) {
				margin: 0 0 2rem 0;
			}
		}
		& > p {
			max-width: 744px;
			font: normal normal normal 16px/19px PT Sans;
		}
	}
	&__logos {
		@include grid(repeat(4, 1fr), null, 1rem);
		@include breakpoint(small) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
