.roles-list {
	@include flex(flex-start, center, row, 1rem);
	padding: 3rem 1rem 0;
	@include breakpoint(sm) {
		flex-wrap: wrap;
	}
	li {
		padding: 1rem;
		background-color: #bd1f2c;
		@include breakpoint(ms) {
			padding: 0.5rem;
		}
		&:nth-child(4n + 1) {
			background-color: #4fe6b9;
		}

		&:nth-child(4n + 2) {
			background-color: #d4e74f;
		}

		&:nth-child(4n + 3) {
			background-color: #ff8200;
		}

		&:nth-child(4n + 4) {
			background-color: #ffc100;
		}
	}

	a {
		padding: 1rem;
		color: #000;
		font-weight: 600;
		text-transform: uppercase;
	}
}
