.speaker {
	list-style: none;
	padding-bottom: 1rem;

	.crew-item {
		a {
			@include grid(150px 1fr, null, 2rem);
			align-items: center;
		}
	}
	&--content {
		.crew-item {
			a {
				@include grid(100px 1fr, null, 2rem);
				align-items: center;
			}
		}
	}
}
