.speaker {
	list-style: none;
	padding-bottom: 1rem;

	.crew-item {
		a {
			@include grid(150px 1fr, null, 2rem);
			align-items: center;
		}
	}
	&--content {
		@include grid(repeat(4, 1fr), null, 1rem);
		@include breakpoint(xl) {
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint(sm) {
			grid-template-columns: 1fr;
		}
		.crew-item {
			grid-gap: 0;
			&__block {
				@include grid(80px 1fr, null, 1.5rem);
				align-items: start;
			}
			h3 {
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 15px;
			}
			p {
				font-size: 12px;
				line-height: 13px;
			}
			a {
				@include grid(80px 1fr, null, 1.5rem);
				align-items: start;
			}

			&__firm {
				justify-content: flex-start;
				align-items: flex-start;
				margin-left: 104px;
			}
			.post-thumbnail {
				&::after {
					display: none;
				}
			}
		}
	}
	&--acc {
		.crew-item {
			&__block {
				@include grid(100px 1fr, null, 2rem);
				align-items: start;
			}
		}
		.post-thumbnail {
			&::after {
				display: none;
			}
		}
	}
}
