.whyus {
	&.container {
		padding-bottom: 8rem;
		padding-left: 0;
		max-width: unset;
		@include breakpoint(m-large) {
			padding-right: 0;
		}
	}
	&__grid {
		@include grid(3fr 9fr, null, null);
		@include breakpoint(m-large) {
			grid-template-columns: 2rem 1fr;
		}
	}

	&__content {
		@include grid(auto 1fr, null, 3rem);
		@include breakpoint(m-large) {
			grid-template-columns: 1fr;
		}
	}

	&__img {
		img {
			width: 428px;
			height: 463px;
			object-fit: cover;
			@include breakpoint(m-large) {
				width: 100%;
			}
			@include breakpoint(xs) {
				height: 194px;
			}
		}
	}
}

.about {
	padding: 8rem 0;
	background-color: #d9dde3;
	background-image: url("/src/img/tap.svg");
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: contain;
}
