.archive-page {
	&__header {
		padding: 3rem 0;
		background-color: #e6f1fa;
		background-image: url("/src/img/hexagony-white.svg");
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: -10% 40%;
		@include breakpoint(md) {
			background-size: 60%;
			background-position: -30% 40%;
		}
		@include breakpoint(sm) {
			background-size: 80%;
			background-position: -50% 40%;
		}
		h1 {
			color: #2973a5;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__content {
		padding: 3rem 0;
	}

	.crew {
		text-align: left;
	}
}
