#contactpage {
	.gut-content {
		&__content {
			background-color: #d9dde3;
			& > * {
				width: 100%;
				max-width: 1240px;
				margin: 0 auto;
				padding: 2rem;
				background-color: #fff;
			}

			& > hr {
				background-color: #fff;
				padding: 0;
			}
		}
	}
}
