.footer {
	padding: 3rem 0;
	background-color: #c6434c;
	color: #fff;

	&__logo {
		max-width: 150px;
	}

	&__content {
		@include grid(auto 1fr 1fr, null, 2rem);
		@include breakpoint(md-s) {
			grid-template-columns: 1fr;
		}
	}

	&__socials {
		justify-self: end;
		@include breakpoint(md-s) {
			justify-self: start;
		}
		a {
			padding: 0.5rem;
		}
	}

	&__contact {
		@include grid(1rem 1fr, null, 1rem);
		margin-bottom: 1rem;
		align-items: baseline;

		&--location {
			p,
			h4 {
				margin-bottom: 5px;
			}
		}
	}
}
