//media queries breakpoints
@mixin breakpoint($point) {
	@if $point==xxl {
		@media (max-width: 1680px) {
			@content;
		}
	}
	@if $point==xl {
		@media (max-width: 1200px) {
			@content;
		}
	}
	@if $point==lg {
		@media (max-width: 992px) {
			@content;
		}
	}
	@if $point==md {
		@media (max-width: 768px) {
			@content;
		}
	}
	@if $point==md-s {
		@media (max-width: 710px) {
			@content;
		}
	}
	@if $point==sm {
		@media (max-width: 576px) {
			@content;
		}
	}
	@if $point==ms {
		@media (max-width: 500px) {
			@content;
		}
	}
	@if $point==xs {
		@media (max-width: 360px) {
			@content;
		}
	}
}

@mixin flex($justify, $align, $direction, $gap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
	gap: $gap;
}

@mixin grid($columns, $rows, $gap) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
	grid-gap: $gap;
}

@mixin button() {
	position: relative;
	display: inline-block;
	width: calc(190px + $btn-after-width);
	padding: 1rem;

	font: normal normal normal 16px/19px PT Sans;
	text-align: center;
	text-decoration: none;
	text-indent: -16px;

	color: $c-primary;
	border: 2px solid $c-secondary;
	background-color: #fff;
	border-radius: 0;
	overflow: hidden;

	transition: all 0.2s linear 0s;

	&:before {
		content: "➔";
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 1rem;
		top: 0;
		height: 100%;
		width: $btn-after-width;
		color: $c-secondary;

		transition: all 0.2s linear 0s;
	}

	&:hover {
		color: $c-primary;

		&:before {
			opacity: 1;
			text-indent: 0px;
			color: $c-secondary;
		}
	}
}
