h1 {
	font: normal normal normal 32px/21px Open Sans;
}

h2 {
	font: normal normal normal 26px/21px Open Sans;
}

p {
	font: normal normal normal 16px/21px Open Sans;
}

body {
	font-size: 16px;
	font-family: Open Sans;
}