//colors
$c-paragraphs: #606060;

$c-primary: #3a5b9c;
$c-secondary: #16ade1;

$c-bg: #d9dde3;

$c-burger-bar: #fff;

$c-mobile-nav-bg: #3a5b9c;

$c-nav-links: #252e56;
$c-nav-links-hover: #252e56;
$c-nav-links-mobile: #252e56;

$burger-button-width: 96px;
$burger-button-padding-x: 2rem;
$burger-button-padding-y: 3rem;

$btn-after-width: 40px;

$c-header-link: #000;
$c-header-link-hover: #bd1e2c;
$c-header-link-mobile: #000;
