@import "./variables";
@import "./mixins";
@import "./typography";

//Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
//Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

// @import "./footer/footer";

@import "./nav/burger.scss";
@import "./nav/header.scss";
// @import "./nav/main-menu.scss";
@import "./nav/nav.scss";

@import "./footer/footer-bottom.scss";
@import "./footer/footer.scss";
@import "./footer/footer-nav.scss";

@import "./components/site-button.scss";
@import "./components/blog-prev.scss";

@import "./components/post-block.scss";

@import "./components/contacts.scss";

@import "./components/homeVideo";
@import "./components/homeBgBlue";
@import "./components/idea";

// @import "./pages-global/blog-page.scss";
// @import "./pages-global/archive-page.scss";
// @import "./pages-global/archive-praca.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

// main {
// 	margin-top: 96px;
// }

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: unset;
	text-decoration: none;

	&:hover {
		color: unset;
		text-decoration: none;
	}
	&:visited {
		color: unset;
		text-decoration: none;
	}
}

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 1rem;
}

.h2 {
	margin-bottom: 2rem;
	font: normal normal normal 32px/21px PT Sans;

	&--left {
		text-align: left;
	}

	&--m-1 {
		margin-bottom: 1rem;
	}

	&--light {
		color: #fff;
	}
}

h1.h2 {
	margin-bottom: 2.5rem;
}

.separator {
	width: 100%;
	height: 2px;
	background-color: #16ade1;
	&--col {
		width: 2px;
		height: 100%;
	}
}
