.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 999;
}
.custom-logo {
	max-width: 80px;
	object-fit: contain;
}

.site-branding {
	position: relative;
	.custom-logo-link {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}
}
