.header {
	background-color: #fff;
	padding: 0 0 1rem;

	// position: absolute;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1;

	// .nav__list {
	// 	&:hover > li > a {
	// 		transition: 0.2s;
	// 		color: rgba(0, 0, 0, 0.5);
	// 	}
	// 	a {
	// 		font: normal normal 600 14px/20px "Open Sans";
	// 		color: #000;
	// 		transition: 0.2s;
	// 	}

	// 	li {
	// 		a {
	// 			color: #000;
	// 		}
	// 		&:hover > a {
	// 			color: #bd1e2c;
	// 		}

	// 		&:last-child() {
	// 			a {
	// 				font-size: 16px;
	// 				color: #fff;
	// 			}
	// 			background-color: #bd1e2c !important;
	// 		}
	// 	}

	// 	&--mobile {
	// 		a {
	// 			color: #fff;
	// 			font: normal normal 900 24px Cabin;
	// 		}
	// 	}
	// }
}

.custom-logo {
	max-width: 130px;
	object-fit: contain;
	// @include breakpoint(md) {
	// 	max-width: 220px;
	// 	object-fit: contain;
	// }
}
