.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
		align-items: center;
		&:hover > li > a {
			transition: 0.2s;
			color: rgba(0, 0, 0, 0.5);
		}
		li {
			a {
				display: inline-block;
				padding: 0.5rem 1rem;
				font: normal normal 600 14px/20px "Open Sans";
				color: $c-header-link;
				text-transform: uppercase;
			}
			&:hover > a {
				color: #bd1e2c;
			}

			&:last-child {
				a {
					font-size: 18px;
					font-weight: 700;
					color: #fff;
				}
				background-color: #bd1e2c;
			}
		}

		// &--mobile {
		// 	margin-top: 100px;
		// 	@include flex(center, center, column, 1rem);

		// 	a {
		// 		color: $c-header-link-mobile;
		// 		font: normal normal 900 32px Montserrat;
		// 	}
		// }
	}

	&__item {
		&--desktop {
			@include breakpoint(lg) {
				display: none;
			}
		}
		&--mobile {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			transform: translatey(-100%);
			background-color: #d4a020;
			// @include flex-center();
		}
	}
}
.active {
	transform: translatey(0);
	z-index: 2;
	// transition: 0.2s;
}
