.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
		align-items: center;
		&:hover > li > a {
			transition: 0.2s;
			color: rgba(0, 0, 0, 0.5);
		}
		li {
			padding: 1.5rem 0;
			a {
				display: inline-block;
				padding: 0.5rem 1rem;
				font: normal normal 400 14px/20px "Open Sans";
				letter-spacing: 0.08rem;
				color: $c-header-link;
				text-transform: uppercase;
			}
			&:hover > a {
				color: #bd1e2c;
			}

			&:last-child {
				padding: 1.5rem 2rem 2rem;
				margin-bottom: -0.5rem;
				-webkit-clip-path: polygon(100% 0, 75% 100%, 25% 100%, 0 0);
				clip-path: polygon(100% 0, 75% 100%, 25% 100%, 0 0);
				background-color: #bd1e2c;
				z-index: 9;
				a {
					font-size: 20px;
					font-weight: 700;
					color: #fff;
				}
			}
			&.current-menu-item a {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 1rem;
					width: 2rem;
					border-bottom: 5px solid black;
				}
			}
		}

		&--mobile {
			// margin-top: 100px;
			@include flex(center, center, column, 1rem);

			a {
				color: $c-header-link-mobile;
				font: normal normal 900 32px "Open Sans";
			}
		}
	}

	&__item {
		&--desktop {
			li {
				@include breakpoint(lg) {
					display: none;
				}
			}
			li:last-child {
				animation: pulse 4s both infinite;

				@include breakpoint(lg) {
					display: flex;
				}
			}
		}
		&--mobile {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			transform: translatey(-100%);
			background-color: #fff;
			background-image: url("/src/img/hexy_calosc.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			@include flex(center, center, null, null);
		}
	}
}

.active {
	transform: translatey(0);
	z-index: 2;
	transition: 0.2s;
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	30% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
